{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Mot de passe oublé</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <p>
                Ajouter votre adresse email, vous allez recevoir un mail avec un lien de réinitialisation du mot de passe.
            </p>
        </div>

        <button class="btn btn-primary">Envoie du lien par email</button>
    {{ form_end(requestForm) }}

    </div>
{% endblock %}
