{% extends 'base.html.twig' %}

{% block title %}Ajout occasion{% endblock %}

{% block body %}


    <div class="container">
        <h1>Ajout d'occasion</h1>

        {{ form(form) }}
    </div>
{% endblock %}