body {
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    line-height: 25px;
}

.card-text {
    height: 10px;
}

.content-container {
    background-color: #D94350;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    height: 50px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-login {
    margin-top: 20px;
}
.card-title {
    text-align: center;
}

.capitalize-first-letter::first-letter {
    text-transform: capitalize;
}

.uppercase-input {
    text-transform: uppercase;
}


