{% extends 'base.html.twig' %}

{% block title %}Changement d'Image{% endblock %}

{% block body %}


    <div class="container mt-3">
        <h1>Changement d'image</h1>


        {{ form(form) }}


    </div>


{% endblock %}
