{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}


    <div class="container mt-3">
        <h1>Edition fiche employé</h1>


        {{ form(form) }}


    </div>


{% endblock %}
