{% extends 'base.html.twig' %}

{% block title %}Ajout service{% endblock %}

{% block body %}


    <div class="container">
        <h1>Ajout de service</h1>

        {{ form(form) }}
    </div>
{% endblock %}