{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Nos services</h1>

    <div class="container">
        <div class="row">
            {% for service in services %}

                <div class="card border-0 col-md-4 col-sm-1 col-xs-1">
                    <img src="{{ asset('./uploads/service/mini/' ~ service.image) }}" class="card-img-top" alt="image du service">
                    <div class="card-body mt-3">
                        <h5 class="card-title mt-3">{{ service.nom }}</h5>
                        <p class="card-text mt-5">{{ service.description}}</p>
                    </div>
                </div>

                {% if loop.index % 3 == 0 or loop.last %}

                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
