{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="container mt-3">
    <h1>Contactez Nous</h1>

    <div class="row">
        <div class="col">
            <h2>Téléphone</h2>

            <h4>06 06 06 06 06</h4>
        </div>
        <div class="col" style="border-left: 1px solid #ccc;">
            <h2>Formulaire de contact</h2>

            <div class="m-lg-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
