{% extends 'base.html.twig' %}

{% block title %}Modification équipement{% endblock %}

{% block body %}


    <div class="container">
        <h1>Modification d'équipement</h1>

        {{ form(form) }}
    </div>
{% endblock %}