{% extends 'base.html.twig' %}

{% block title %}Ouverture{% endblock %}

{% block body %}


    <div class="container mt-3">
        <h1>Edition fiche d'ouverture</h1>




        {{ form(form) }}




    </div>


{% endblock %}